<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.dao.goodDao.WxbGoodDao">
    <!--建立结果集映射关系-->
    <resultMap id="goodMap" type="com.lianxi.entity.good.WxbGood">
        <id property="goodId" column="good_id"></id>
        <result property="goodName" column="good_name"></result>
        <result property="customerId" column="customer_id"></result>
        <result property="goodPic" column="good_pic"></result>
        <result property="goodPic1" column="good_pic1"></result>
        <result property="goodPic2" column="good_pic2"></result>
        <result property="promoteDesc" column="promote_desc"></result>
        <result property="skuTitle" column="sku_title"></result>
        <result property="skuCost" column="sku_cost"></result>
        <result property="skuPrice" column="sku_price"></result>
        <result property="skuPmoney" column="sku_pmoney"></result>
        <result property="copyIds" column="copy_ids"></result>
        <result property="forwardLink" column="forward_link"></result>
        <result property="orderNo" column="order_no"></result>
        <result property="typeId" column="type_id"></result>
        <result property="tags" column="tags"></result>
        <result property="state" column="state"></result>
        <result property="createTime" column="create_time"></result>
        <result property="toped" column="toped"></result>
        <result property="recomed" column="recomed"></result>
        <result property="topedTime" column="toped_time"></result>
        <result property="recomedTime" column="recomed_time"></result>
        <result property="spcId" column="spc_id"></result>
        <result property="zonId" column="zon_id"></result>
        <result property="sellNum" column="sell_num"></result>
        <result property="website" column="website"></result>
        <result property="iswxpay" column="iswxpay"></result>
        <result property="isfdfk" column="isfdfk"></result>
        <result property="leixingId" column="leixing_id"></result>
        <result property="kfqq" column="kfqq"></result>
        <collection property="skus" column="good_id"  select="com.lianxi.dao.goodDao.WxbGoodSkuDao.findById"></collection>
    </resultMap>
    <sql id="good">
        good_id,good_name,customer_id,good_pic,good_pic1,good_pic2,
        promote_desc,sku_title,sku_cost,sku_price,sku_pmoney,copy_ids,
        forward_link,order_no,type_id,tags,state,create_time,toped,recomed,toped_time,recomed_time,spc_id,
        zon_id,sell_num,website,iswxpay,isfdfk,leixing_id,kfqq
    </sql>
    <!--查询所有商品信息-->
    <select id="findAll" resultMap="goodMap">
        SELECT
        <include refid="good"></include>
        FROM wxb_good
    </select>
    <!--分页查询-->
    <select id="paging" resultMap="goodMap">
        SELECT
        <include refid="good"></include>
        FROM wxb_good
        limit #{index},#{max}
    </select>
    <!--根据ID查询商品信息-->
    <select id="findById" resultMap="goodMap">
        SELECT
        <include refid="good"></include>
        FROM wxb_good
        WHERE good_id=#{goodId}
    </select>
    <!--新增商品信息-->
    <insert id="insert">
        INSERT INTO wxb_good
        <trim prefix="(" suffixOverrides=",">
            <if test="goodId!=null">
                good_id,
            </if>
            <if test="goodName!=null">
                good_name,
            </if>
            <if test="customerId!=null">
                customer_id,
            </if>
            <if test="goodPic!=null">
                good_pic,
            </if>
            <if test="goodPic1!=null">
                good_pic1,
            </if>
            <if test="goodPic2!=null">
                good_pic2,
            </if>
            <if test="promoteDesc!=null">
                promote_desc,
            </if>
            <if test="skuTitle!=null">
                sku_title,
            </if>
            <if test="skuCost!=null">
                sku_cost,
            </if>
            <if test="skuPrice!=null">
                sku_price,
            </if>
            <if test="skuPmoney!=null">
                sku_pmoney,
            </if>
            <if test="copyIds!=null">
                copy_ids,
            </if>
            <if test="forwardLink!=null">
                forward_link,
            </if>
            <if test="orderNo!=null">
                order_no,
            </if>
            <if test="typeId!=null">
                type_id,
            </if>
            <if test="tags!=null">
                tags,
            </if>
            <if test="state!=null">
                state,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="toped!=null">
                toped,
            </if>
            <if test="recomed!=null">
                recomed,
            </if>
            <if test="topedTime!=null">
                toped_time,
            </if>
            <if test="spcId!=null">
                spc_id,
            </if>
            <if test="zonId!=null">
                zon_id,
            </if>
            <if test="sellNum!=null">
                sell_num,
            </if>
            <if test="website!=null">
                website,
            </if>
            <if test="iswxpay!=null">
                iswxpay,
            </if>
            <if test="isfdfk!=null">
                isfdfk,
            </if>
            <if test="leixingId!=null">
                leixing_id,
            </if>
            <if test="kfqq!=null">
                kfqq,
            </if>
        </trim>
        <trim prefix=") VALUES (" suffix=")" suffixOverrides=",">
            <if test="goodId!=null">
                #{goodId},
            </if>
            <if test="goodName!=null">
                #{goodName},
            </if>
            <if test="customerId!=null">
                #{customerId},
            </if>
            <if test="goodPic!=null">
                #{goodPic},
            </if>
            <if test="goodPic1!=null">
                #{goodPic1},
            </if>
            <if test="goodPic2!=null">
                #{goodPic2},
            </if>
            <if test="promoteDesc!=null">
                #{promoteDesc},
            </if>
            <if test="skuTitle!=null">
                #{skuTitle},
            </if>
            <if test="skuCost!=null">
                #{skuCost},
            </if>
            <if test="skuPrice!=null">
                #{skuPrice},
            </if>
            <if test="skuPmoney!=null">
                #{skuPmoney},
            </if>
            <if test="copyIds!=null">
                #{copyIds},
            </if>
            <if test="forwardLink!=null">
                #{forwardLink},
            </if>
            <if test="orderNo!=null">
                #{orderNo},
            </if>
            <if test="typeId!=null">
                #{typeId},
            </if>
            <if test="tags!=null">
                #{tags},
            </if>
            <if test="state!=null">
                #{state},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="toped!=null">
                #{toped},
            </if>
            <if test="recomed!=null">
                #{recomed},
            </if>
            <if test="topedTime!=null">
                #{topedTime},
            </if>
            <if test="spcId!=null">
                #{spcId},
            </if>
            <if test="zonId!=null">
                #{zonId},
            </if>
            <if test="sellNum!=null">
                #{sellNum},
            </if>
            <if test="website!=null">
                #{website},
            </if>
            <if test="iswxpay!=null">
                #{iswxpay},
            </if>
            <if test="isfdfk!=null">
                #{isfdfk},
            </if>
            <if test="leixingId!=null">
                #{leixingId},
            </if>
            <if test="kfqq!=null">
                #{kfqq},
            </if>
        </trim>
    </insert>
    <!--删除商品-->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM wxb_good WHERE good_id =#{id}
    </delete>
    <!--更新-->
    <update id="update" parameterType="java.lang.Integer">
        UPDATE wxb_good
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodName!=null">
                good_name=#{goodName},
            </if>
            <if test="customerId!=null">
                customer_id=#{customerId},
            </if>
            <if test="goodPic!=null">
                good_pic=#{goodPic},
            </if>
            <if test="goodPic1!=null">
                good_pic1=#{goodPic1},
            </if>
            <if test="goodPic2!=null">
                good_pic2=#{goodPic2},
            </if>
            <if test="promoteDesc!=null">
                promote_desc=#{promoteDesc},
            </if>
            <if test="skuTitle!=null">
                sku_title=#{skuTitle},
            </if>
            <if test="skuCost!=null">
                sku_cost=#{skuCost},
            </if>
            <if test="skuPrice!=null">
                sku_price=#{skuPrice},
            </if>
            <if test="skuPmoney!=null">
                sku_pmoney=#{skuPmoney},
            </if>
            <if test="copyIds!=null">
                copy_ids=#{copyIds},
            </if>
            <if test="forwardLink!=null">
                forward_link=#{forwardLink},
            </if>
            <if test="orderNo!=null">
                order_no=#{orderNo},
            </if>
            <if test="typeId!=null">
                type_id=#{typeId},
            </if>
            <if test="tags!=null">
                tags=#{tags},
            </if>
            <if test="state!=null">
                state=#{state},
            </if>
            <if test="createTime!=null">
                create_time=#{createTime},
            </if>
            <if test="toped!=null">
                toped=#{toped},
            </if>
            <if test="recomed!=null">
                recomed=#{recomed},
            </if>
            <if test="topedTime!=null">
                toped_time=#{topedTime},
            </if>
            <if test="spcId!=null">
                spc_id=#{spcId},
            </if>
            <if test="zonId!=null">
                zon_id=#{zonId},
            </if>
            <if test="sellNum!=null">
                sell_num=#{sellNum},
            </if>
            <if test="website!=null">
                website=#{website},
            </if>
            <if test="iswxpay!=null">
                iswxpay=#{iswxpay},
            </if>
            <if test="isfdfk!=null">
                isfdfk=#{isfdfk},
            </if>
            <if test="leixingId!=null">
                leixing_id=#{leixingId},
            </if>
            <if test="kfqq!=null">
                kfqq=#{kfqq},
            </if>
        </trim>
        WHERE good_id=#{goodId}
    </update>
</mapper>